.contact {
    display: flex;
}

.contact-info,
.contact-form {
    background-color: rgb(0, 78, 78);
    width: 50%;
}

.contact-info {
    background-color: rgb(0, 78, 78);
    color: black;
}

.h1 {
    margin: 100px 0px;
}

ul {
    list-style: none;
    text-align: justify;
    margin-left: 200px;
}

li {
    margin-bottom: 20px;
}

.contact-form {
    padding: 40px;
}

.col {
    margin-bottom: 10px;
}

label {
    margin: 0px;
    color: rgb(0, 78, 78);
}

input,
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2.5px rgb(0, 0, 0) solid;
    border-radius: 0%;
    height: 30px;
    padding: 0px 12px;
    width: 100%;
}

input:focus,
textarea:focus {
    outline: none !important;
}

#message {
    border-radius: 0px;
    background-color: transparent;
    border: 2.5px rgb(0, 0, 0) solid;
    height: 100px;
    margin-top: 30px;
}

.btn {
    width: 150px;
    height: 50px;
    color: black;
    border: 0px;
    margin-left: 74%;
    background-color: rgb(0, 0, 0);
}


footer {
    background-color: rgb(222, 161, 48); 
    color: white;
    height: 70px;
    padding-top: 20px;
    text-align: center;
}

footer > .copyright {
    display: flex;
    justify-content: center;
    height: 20px;
}


@media screen  and (max-width: 600px) { 
    footer > .copyright {
        height: 20px;
    margin: 0px 20px;
}
footer > .copyright > p {
    font-size: xx-small;
}

}
